{% extends 'app/base.html' %} {% load static %} {% block content %}
<div class="bg-white mt-6 px-16 rounded-md w-full">
  <div>
    <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
      <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
        <table class="min-w-full leading-normal">
          <thead>
            <tr>
              <th
                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
              >
                Quiz ID
              </th>
              <th
              class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
              >
              Questions
            </th>
            <th
              class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
            >
              Created at
            </th>
              <th
                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
              >
                Status
              </th>
            </tr>
          </thead>
          <tbody>
            {% for q in quizes %}
            <tr>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <div class="flex items-center">
                  <div class="flex-shrink-0 w-10 h-10">
                    <img
                      src="{% static 'logo.png' %}"
                      height="37px"
                      width="37px"
                      style="border-radius: 50%"
                    />
                  </div>
                  <div class="ml-3">
                    <a href="{% url 'quiz_detail' id=q.id %}" class="text-gray-900 whitespace-no-wrap">
                      {{q.room|upper}}
                    </a>
                  </div>
                </div>
              </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <p class="text-gray-900 whitespace-no-wrap">
                  {{q.questions.count}}
                </p>
              </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <p class="text-gray-900 whitespace-no-wrap">{{q.datetime}}</p>
              </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <span
                  class="relative inline-block px-3 py-1 font-semibold text-{% if q.completed %}green{% else %}red{% endif%}-900 leading-tight"
                >
                  <span
                    aria-hidden
                    class="absolute inset-0 bg-{% if q.completed %}green{% else %}red{% endif%}-200 opacity-50 rounded-full"
                  ></span>
                  <span class="relative"
                    >{% if q.completed %} Done{% else %} Pending{% endif%}</span>
                </span>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}