{% extends 'app/base.html' %}
{% block content %}

<div class="flex justify-center">
    <div class="block  my-24 p-12 rounded-lg shadow-2xl bg-white max-w-sm">
        <form>
            <button type="submit" class="
            w-full
            px-6
            py-2.5
            bg-indigo-500
            text-white
            font-medium
            text-xs
            leading-tight
            uppercase
            rounded
            shadow-md
            hover:bg-indigo-700 hover:shadow-lg
            focus:bg-indigo-700 focus:shadow-lg focus:outline-none focus:ring-0
            active:bg-indigo-800 active:shadow-lg
            transition
            duration-150
            ease-in-out">Create Room</button>
            <div class="form-group mb-6 mt-10 ">
                <!-- <label for="exampleInputPassword2" class="flex justify-center form-label inline-block mb-2 text-3xl text-gray-700">Join Room</label> -->
                <input type="password" class="form-control block
              w-full
              px-3
              py-1.5
              text-base
              font-normal
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-300
              rounded
              transition
              ease-in-out
              m-0
              focus:text-gray-700 focus:bg-white focus:border-indigo-500 focus:outline-none" id="exampleInputPassword2"
                    placeholder="Enter Room ID">
            </div>
            
            <button type="submit" class="
            w-full
            px-6
            py-2.5
            bg-indigo-500
            text-white
            font-medium
            text-xs
            leading-tight
            uppercase
            rounded
            shadow-md
            hover:bg-indigo-700 hover:shadow-lg
            focus:bg-indigo-700 focus:shadow-lg focus:outline-none focus:ring-0
            active:bg-indigo-800 active:shadow-lg
            transition
            duration-150
            ease-in-out">Join Room</button>
            <!-- <p class="text-gray-800 mt-6 text-center">Not a member? <a href="#!"
                    class="text-indigo-500 hover:text-indigo-700 focus:text-indigo-700 transition duration-200 ease-in-out">Register</a>
            </p> -->
        </form>
    </div>

</div>
{% endblock content %}
<!-- </html> -->