{% extends 'app/base.html' %}
{% block content %}

<!-- <h1>Group Name: {{group_name}}</h1> -->

<section class="my-8">
  <div class="px-6 h-full text-gray-800">
    <div class="flex xl:justify-center lg:justify-between justify-center items-center flex-wrap h-full g-6">
      <div class="grow-0 shrink-1 md:shrink-0 basis-auto xl:w-6/12 lg:w-6/12 md:w-9/12 mb-12 md:mb-0 ">

        <div class="overflow-x-auto relative shadow-2xl sm:rounded-lg">
          <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 ">
            <caption
              class="p-5 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800">
              <div class="mb-2">
                <label for="question" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ask
                  Question</label>
                <input type="text" id="question" value="Best Party?"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-indigo-500 dark:focus:border-indigo-500">
              </div>
            </caption>
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                <!-- <th scope="col" class="p-4">
                        <div class="flex items-center">
                        </div>
                    </th> -->
                <th scope="col" class="py-3 px-6">
                  Options
                </th>
                <th scope="col" class="py-3 px-6">
                  Answer
                </th>
                <th scope="col" class="py-3 px-6">
                  <!-- Clear -->
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  <!-- Apple MacBook Pro 17" -->
                  <div class="flex">
                    <span
                      class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 rounded-l-md border border-r-0 border-gray-300 dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                      1
                    </span>
                    <input type="text" id="op1" value="aap"
                      class="rounded-none rounded-r-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="option 1">
                  </div>
                </th>
                <td class="">
                  <div class="flex ml-6 mt-5">
                    <label class="inline-flex relative items-center mb-4 cursor-pointer">
                      <input type="checkbox" value="true" id="cop1" class="sr-only peer">
                      <div
                        class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
                      </div>
                    </label>
                  </div>
                </td>
                <td class="flex items-center py-4 px-6 space-x-3">
                  <button type="button" onclick="clearinput('op1')"
                    class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Clear</button>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  <!-- Apple MacBook Pro 17" -->
                  <div class="flex">
                    <span
                      class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 rounded-l-md border border-r-0 border-gray-300 dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                      2
                    </span>
                    <input type="text" id="op2" value="bjp"
                      class="rounded-none rounded-r-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="option 2">
                  </div>
                </th>
                <td class="">
                  <div class="flex ml-6 mt-5">
                    <label class="inline-flex relative items-center mb-4 cursor-pointer">
                      <input type="checkbox" value="true" id="cop2" class="sr-only peer">
                      <div
                        class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
                      </div>
                    </label>
                  </div>
                </td>
                <td class="flex items-center py-4 px-6 space-x-3">
                  <button type="button" onclick="clearinput('op2')"
                    class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Clear</button>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  <!-- Apple MacBook Pro 17" -->
                  <div class="flex">
                    <span
                      class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 rounded-l-md border border-r-0 border-gray-300 dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                      3
                    </span>
                    <input type="text" id="op3" value="cong"
                      class="rounded-none rounded-r-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="option 3">
                  </div>
                </th>
                <td class="">
                  <div class="flex ml-6 mt-5">
                    <label class="inline-flex relative items-center mb-4 cursor-pointer">
                      <input type="checkbox" value="true" id="cop3" class="sr-only peer">
                      <div
                        class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
                      </div>
                    </label>
                  </div>
                </td>
                <td class="flex items-center py-4 px-6 space-x-3">
                  <button type="button" onclick="clearinput('op3')"
                    class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Clear</button>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  <!-- Apple MacBook Pro 17" -->
                  <div class="flex">
                    <span
                      class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 rounded-l-md border border-r-0 border-gray-300 dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                      4
                    </span>
                    <input type="text" id="op4" value="none"
                      class="rounded-none rounded-r-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="option 4">
                  </div>
                </th>
                <td class="">
                  <div class="flex ml-6 mt-5">
                    <label class="inline-flex relative items-center mb-4 cursor-pointer">
                      <input type="checkbox" value="true" id="cop4" class="sr-only peer">
                      <div
                        class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
                      </div>
                    </label>
                  </div>
                </td>
                <td class="flex items-center py-4 px-6 space-x-3">
                  <button type="button" onclick="clearinput('op4')"
                    class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Clear</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="flex justify-center mt-5">
          <button type="submit" onclick="postQuestion()"
            class="flex text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-md px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Post
            <svg class="h-6 w-6 ml-3" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round">
              <line x1="22" y1="2" x2="11" y2="13" />
              <polygon points="22 2 15 22 11 13 2 9 22 2" />
            </svg></button>
        </div>
      </div>
    </div>
  </div>
</section>



<textarea disabled name="" id="chat-log" cols="79" rows="20">
        {% for c in chats %}
            {{c.content}}
        {% endfor %}
    </textarea><br />


<!-- used to get group name from template context in javascript -->
{{group_name|json_script:"group-name"}}
<script>

  function clearinput(id) {
    console.log(id)
    let v = document.getElementById('c' + id).checked;
    console.log(v)
    document.getElementById(id).value = "";
  }

  function postQuestion() {
    const Q = document.getElementById('question').value;
    const op1 = document.getElementById('op1').value;
    const op2 = document.getElementById('op2').value;
    const op3 = document.getElementById('op3').value;
    const op4 = document.getElementById('op4').value;
    const cop1 = document.getElementById('cop1').checked;
    const cop2 = document.getElementById('cop2').checked;
    const cop3 = document.getElementById('cop3').checked;
    const cop4 = document.getElementById('cop4').checked;
    const temp = {
      question: Q,
      answers: [
        { "option": op1, "correct": cop1 },
        { "option": op2, "correct": cop2 },
        { "option": op3, "correct": cop3 },
        { "option": op4, "correct": cop4 },
      ]
    }
    console.log(temp.answers[0]["op1"])
    console.log(temp)
    const data=JSON.stringify(temp)
    console.log(data)
    ws.send(JSON.stringify({ status: "Client Connected", message: data }));
  }

  function enterSubmit(e) {
    if ((e && e.keyCode == 13) || e == 0) {
      const message = document.getElementById("chat-message-input").value;
      ws.send(JSON.stringify({ status: "Client Connected", message: message }));
      document.getElementById("chat-message-input").value = "";
      event.preventDefault();
    }
  }

  document.getElementById("chat-log").scrollTop = 1000;

  const group_name = JSON.parse(
    document.getElementById("group-name").textContent
  );

  console.log(group_name);
  console.log(window.location.host)
  const token = localStorage.getItem("token")
  console.log(token)

  const url = "ws://" + window.location.host + "/ws/awsc/room/quiz/" + group_name + "/?" + token;

  var ws = new WebSocket(url);

  ws.onopen = () => {
    console.log("websocket connection open..");
    ws.send(JSON.stringify({ status: "Client Connected" }))
  };

  ws.onmessage = (e) => {
    console.log("message received from server..\n", e.data);
    const data = JSON.parse(e.data);
    document.querySelector("#chat-log").value += data.message + "\n";

    document.getElementById("chat-log").scrollTop = 1000;
  };

  ws.onerror = (e) => {
    console.log('websocket error..', e);
  }

  ws.onclose = (e) => {
    console.log('websocket connection closed..', e);
  }

</script>
<form id="form01" onsubmit="return false;">
  <input type="text" name="" id="chat-message-input" size="84" /><br />
  <input type="submit" onclick="enterSubmit(0)" style="margin-top: 4px" value="Send" id="chat-message-submit"
    size="100" />
</form>
{% endblock content %}